<div class="container mt-5">
    <h2>{{pageTitle}}</h2>
    <p>{{errorMessage}}</p>
    <p><a href="/">Voltar para a página inicial</a></p>
    <p><a href="/register">Tentar registrar novamente</a></p>
</div>