<div class="container">
  <h3>{{pageTitle}}</h3>
  <div>
    <h2>{{message}}</h2>
    <li>
      Não Temas Eventos no Momento
    </li>
  </div>
  <h2>{{message}}</h2>
  <div>
    <img
      src="/img/ana.jpg"
      alt="Foto de perfil do usuário"
      class="img-fluid rounded-circle mb-3"
      style="max-width: 150px; height: auto;"
    />
  </div>
  <p>Bem-vindo ao evento contratado!</p>
  <p>Use a navegação acima para explorar as funcionalidades.</p>
</div>